:root {
  --shadow-dark: 2rem 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06); }

::selection {
  color: #fff;
  background: #a80202; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fff3d9;
  font-family: Arial, Helvetica, sans-serif; }

section {
  margin-bottom: 40rem; }

.btn-1 {
  margin-top: 5rem;
  margin-left: 5rem;
  height: 5rem;
  width: 12rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-color: #a80202;
  box-shadow: 0.2px 1px 10px #000;
  cursor: pointer;
  color: #a80202;
  background-color: #f6e6c4;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem; }
  .btn-1:hover {
    color: #fff;
    background-color: #a80202;
    border-color: #000; }
  .btn-1:active {
    border: none; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  position: relative;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -moz-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    -o-transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #fff3d9;
  color: #fff; }
  .btn--green::after {
    background-color: #fff3d9; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff3d9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fff3d9;
  padding: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s; }

.btn-text:hover {
  color: #fff;
  background-color: #fff3d9;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

.contact__container {
  background-color: #cacaca;
  border: 6px solid #a80202;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; }
  .contact__container__form {
    margin-left: 30%; }
    .contact__container__form__item {
      margin-top: 2%;
      margin-bottom: 2%; }
      .contact__container__form__item label {
        font-size: 14px;
        color: #a80202; }
      .contact__container__form__item input {
        height: 35px;
        width: 55%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; }
      .contact__container__form__item textarea {
        width: 55%;
        resize: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; }
    .contact__container__form button {
      margin-left: 18%;
      height: 35px;
      width: 100px;
      margin-bottom: 3%;
      cursor: pointer;
      background-color: #cacaca;
      color: #a80202;
      border: 2px solid #a80202;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s; }
    .contact__container__form button:hover {
      background-color: #a80202;
      color: #cacaca; }

/*
0 - 600px:  Phone
600px - 900px:  Tablet Portrait Mode
900px - 1200px:  Tablet Landscape Mode
[1200 - 1800]: Normal styles
1800px + :  Big desktop
*/
/* $breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components
*/
.heading__large-1 {
  color: #a80202;
  font-size: 8rem; }

.heading__large-2 {
  color: #999;
  font-size: 7rem; }

.heading__margin-large {
  margin-bottom: 10rem; }

.heading-4 {
  font-size: 2rem;
  font-weight: 600; }

.heading-underline {
  border-bottom: 0.2rem solid black; }

.para-1 {
  color: #000;
  font-size: 3rem; }

.para-2 {
  color: #333;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 1rem; }

.intro {
  margin-top: 15%;
  margin-left: 25%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navbar {
  overflow: hidden;
  background-color: #fff3d9;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: var(--shadow-light); }
  .navbar__logo {
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: #a80202;
    padding: 0 25px;
    border: 2px solid #777; }
    .navbar__logo h1 {
      display: inline-block;
      -webkit-transform: scale(2, 1);
      -moz-transform: scale(2, 1);
      -ms-transform: scale(2, 1);
      -o-transform: scale(2, 1);
      transform: scale(2, 1);
      color: #fff3d9;
      font-size: 30px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, cursive; }
  .navbar__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 2rem;
    color: #000; }
    .navbar__list__item {
      color: #000;
      margin-left: 1rem;
      margin-top: 2rem;
      font-size: 2rem;
      text-align: center;
      vertical-align: middle; }
      .navbar__list__item__btn {
        text-decoration: none; }
        .navbar__list__item__btn:visited {
          color: #000; }
      .navbar__list__item__resume {
        display: inline-block;
        color: #fff;
        cursor: pointer;
        background-color: #a80202;
        height: 3rem;
        width: 8.5rem;
        text-align: center;
        vertical-align: middle;
        border-radius: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s; }
      .navbar__list__item__resume:hover {
        background-color: #ff3a3a;
        transform: translateY(-0.2rem);
        -webkit-transform: translateY(-0.2rem);
        -moz-transform: translateY(-0.2rem);
        -ms-transform: translateY(-0.2rem);
        -o-transform: translateY(-0.2rem); }

.links {
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem; }
  .links__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .links__list__item {
      padding: 1rem;
      font-size: 2rem; }

.fa {
  color: #a80202;
  text-decoration: none; }

.about {
  text-align: center; }
  .about__container {
    position: relative;
    background-color: #cacaca;
    height: 45rem;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #a80202;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; }
    .about__container__textbox {
      background-color: #cacaca;
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      width: 98%;
      height: 95%;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem; }
      .about__container__textbox__skills {
        margin-top: 5rem; }
        .about__container__textbox__skills__list {
          list-style: "- " inside none;
          margin-top: 4rem; }
          .about__container__textbox__skills__list__item {
            font-size: 1.6rem;
            margin: 2.5rem 0; }
      .about__container__textbox__facts {
        margin-top: 5rem; }
        .about__container__textbox__facts__list {
          list-style: "- " inside none;
          margin-top: 4rem; }
          .about__container__textbox__facts__list__item {
            font-size: 1.6rem;
            margin: 2.5rem 0; }

.experience {
  text-align: center; }
  .experience__container {
    margin-top: 5%;
    width: 100%; }
    .experience__container__item {
      font-size: 16px;
      height: 125px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #cacaca;
      border: 5px solid #a80202;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px; }
      .experience__container__item__intro {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .experience__container__item__intro img {
          height: 50px;
          margin-left: 10%;
          margin-right: 10%; }
      .experience__container__item p {
        width: 65%; }
