// VARIABLES

// colors
$color-primary: #fff3d9;
$color-primary-light: #fff7e4;
$color-primary-dark: #f6e6c4;
$color-primary-accent: #a80202;
$color-primary-accent-light: #ff3a3a;
$color-primary-accent-dark: #790000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// Font size
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// default setup
:root {
    --shadow-dark: 2rem 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

::selection {
    color: $color-white;
    background: $color-primary-accent;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
    background-color: $color-primary;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 40rem;
}
