.links {
    position: fixed;
    bottom: 0;
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__item {
            padding: 1rem;
            font-size: 1.2rem;
        }
    }
    margin-bottom: 1rem;
}

.fa {
    color: $color-primary-accent;
    text-decoration: none;
}
