.heading__large-1 {
    color: $color-primary-accent;
    font-size: 8rem;
}

.heading__large-2 {
    color: $color-grey-dark-2;
    font-size: 7rem;
}

.heading__margin-large {
    margin-bottom: 10rem;
}

.heading-4 {
    font-size: 2rem;
    font-weight: 600;
}

.heading-underline {
    border-bottom: 0.2rem solid black;
}

.para-1 {
    color: $color-black;
    font-size: 3rem;
}

.para-2 {
    color: $color-grey-dark-3;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
}
